Home page

<a href="/admin">Go to admin page</a>

<a href="/user/id/1">Go to userbyid</a>

<a href="/user/name/betty">Go to userbyname</a>


<a href="/policies/name/betty">Go to Policies by name</a>

<a href="/user/policeId/1">Go to Policies by name</a>